body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  color: white;
  width: 100%;
  overflow: auto;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.tv-frame {
  position: relative;
  width: 700px;
  height: 400px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/4/47/Old_TV.jpg') no-repeat center center;
  background-size: contain;
  padding: 20px;
  margin: 0 auto;
}

.tv-screen {
  width: 100%;
  height: 100%;
  position: relative;
}

.video-js {
  width: 100%;
  height: 100%;
}

.feedback {
  font-size: 18px;
  margin-bottom: 10px;
}

.toggles {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 90%;
  max-width: 1000px;
}

.hidden {
  display: none;
}

.event-overlay {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: red;
  padding: 2px 2px;
  font-size: 15px;
  border-radius: 2px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.live-edge-overlay {
  position: absolute;
  bottom: 145px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: red;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  display: none;
}

.media-time-overlay {
  position: absolute;
  bottom: 85px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: red;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  display: none;
}

.metadata-tree {
  position: absolute;
  right: 50px;
  top: 65px;
  background-color: white;
  color: black;
  width: 550px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: auto;
}

.metadata-tree .track-info {
  text-align: left;
  margin-bottom: 10px;
}

.tree-header {
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}

.track-header {
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}

.track-content {
  margin-left: 15px;
  display: none;
  text-align: left;
}
